/* ROOT COLOR */
:root {
  --Iris: #4d5ae5;
  --OCEAN: #404bbf;
  --NAVY-BLUE: #2e2f42;
  --GREEN: #31d0aa;
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --cornflower: #e7e9fc;
  --CLOUD: #f4f4fd;
  --NAVY-BLUE-modal: #2e2f42;
  --GREY: #2e2f42;
  --WHITE: #ffffff;
  --Dairy: #fcfcfc;
}

/* BODY MAIN STYLES */
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate, #434455);
  background-color: var(--WHITE);
}

.link,
.list {
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h2 {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

h3 {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

p {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* HOVER AND FOCUS */
.link:hover,
.link:focus,
.list>li>a:hover,
.list>li>a:focus {
  color: var(--OCEAN);
}

.ord-btn:hover,
.ord-btn:focus {
  color: var(--WHITE);
  background-color: var(--OCEAN);
}

.fltr-btn:hover,
.fltr-btn:focus {
  border: 1px solid transparent;
  color: var(--WHITE);
  background-color: var(--OCEAN);
}

/* BUTTONS */
button {
  cursor: pointer;
}

.ord-btn {
  display: block;
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--iris, #4d5ae5);
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin: 0 auto;
}

.fltr-btn {
  color: var(--iris, #4d5ae5);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--cloud, #f4f4fd);
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

/* HEADER MAIN STYLES */

.header-block {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

.container.header {
  display: flex;
}

.nav-block {
  display: flex;
  align-items: center;
}

.nav.list {
  display: flex;
  gap: 40px;
}

.nav.link {
  display: block;
  padding: 24px 0;
}

.nav-address.list {
  display: flex;
  gap: 40px;
  align-items: center;
  padding: 24px 0;
}

.nav-block .logo {
  margin-right: 76px;
}

.logo {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-part-two {
  color: var(--NAVY-BLUE);
}

.footer-logo-part-two {
  color: var(--CLOUD);
}

.nav {
  color: var(--NAVY-BLUE);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-address-block {
  font-style: normal;
  margin-left: auto;
}

.address {
  color: var(--SLATE);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


/* MAIN STYLES HOMEPAGE */

/* order-section */
.order-section {
  display: block;
  padding: 188px 0;
  color: var(--WHITE);
  max-width: 1440px;
  margin: 0 auto;

  background-color: var(--navyblue, #2e2f42);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.headline-one {
  color: var(--white, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;

}

/* service-description-section */

.service-description-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container.service {
  flex-shrink: 0;
}

.service-description-item {
  width: calc((100% - 72px) / 4);
}

.service-description {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.servise-description-icon-block {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  padding: 24px 100px;
  margin-bottom: 8px;

  background-color: var(--CLOUD);
}

/* product-image-section */

.product-image-section {
  padding-bottom: 120px;
}

.container.product-image {
  display: block;
  flex-shrink: 0;
}

.container.product-image>ul {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.product-image-item {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - 48px) / 3);
}

/* team-list-section */

.team-list-section {
  padding: 120px 0;
  background: var(--cloud, #F4F4FD);
}

.item-container {
  padding: 32px 0;
}

.team {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #FFF);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.headline-team {
  text-align: center;
}

.team-text {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-item-icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-item-icon.list {
  display: flex;
  gap: 24px;
}

.team-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Iris);
  border-radius: 50%;
  padding: 12px;

  fill: var(--CLOUD);
}

/* Customers sections */

.customers {
  padding: 120px 0;
}

.customers-logo-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers-logo.list {
  display: flex;
  gap: 24px;

  fill: var(--LIGHT-SLATE);
}

/* SECTION STYLES PORTFOLIO PAGE */

.section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.main-portfolio .list {
  display: flex;
}

.container.main-portfolio .filter-button {
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.row {
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  justify-content: center;
}

.row-item {
  width: calc((100% - 48px) / 3);
  background: var(--white, #fff);
}

.row-item-dscrp-container {
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid var(--cornflower, #E7E9FC);
  border-top: none;
}

.headline-fltr-results {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.text-fltr-results {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* FOOTER */
.footer-section {
  padding: 100px 0;
  background: var(--navyblue, #2e2f42);
}

.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.container.footer {
  display: flex;
  gap: 120px;
}

.container.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.social-media-icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-item-icon.list {
  display: flex;
  gap: 16px;
}

.social-media-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Iris);
  border-radius: 50%;
  padding: 8px;

  fill: var(--CLOUD);
}

.social-media-text {
  color: var(--WHITE);
  font-weight: 500;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}